@using HorselessNewspaper.Web.Core.Interfaces.Hosting
@using HostingModel = TheHorselessNewspaper.Schemas.HostingModel.HostingEntities;
@using TheHorselessNewspaper.HostingModel.Entities.Query
@using TheHorselessNewspaper.Schemas.HostingModel.HostingEntities

@inject IHostingCollectionService<IQueryableHostingModelOperator<HostingModel.Tenant>, HostingModel.Tenant> tenantService;

<style type="text/css">
    td {
        padding: 0 15px;
    }
</style>
@{
    if (tenantService != null)
    {
        var registrantsQuery = await tenantService.Query(r => r.IsPublished == false && r.IsSoftDeleted == false,
            new List<string>() { nameof(Tenant.Owners), nameof(Tenant.TenantInfos) });
        var waitingRequests = registrantsQuery
            .Where(w => w.IsPublished == false && w.IsSoftDeleted == false)
            .Take(5)
            .ToList();

        var validRequests = waitingRequests.Where(w => w.Owners.Count() > 0 && w.TenantInfos.Count() > 0).ToList();
        var invalidRequests = waitingRequests.Where(w => (w.Owners.Count() == 0) || (w.TenantInfos.Count() == 0)).ToList();

        int i = 0;

        <div>
            <span>Valid Requests</span>

            <table>
                @foreach (var item in validRequests)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(d => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.TenantInfos.FirstOrDefault().Identifier)
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="TenantRegistration" asp-action="Approve" asp-route-tenantId="@item.Id">Approve</a>
                            </td>
                    </tr>
                }
            </table>
        </div>

        <hr />
        <div>
            <span>Invalid Requests</span>
            <table>
                @foreach (var item in invalidRequests)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(d => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.CreatedAt)
                        </td>

                        <td>
                            <a asp-area="Admin" asp-controller="TenantRegistration" asp-action="Delete" asp-route-id="@item.Id">Reject</a>
                        </td>
                    </tr>

                }
            </table>
        </div>

    }
}