@using HorselessNewspaper.Web.Core.Interfaces.Hosting
@using HostingModel = TheHorselessNewspaper.Schemas.HostingModel.HostingEntities;
@using TheHorselessNewspaper.HostingModel.Entities.Query

@inject IHostingCollectionService<IQueryableHostingModelOperator<HostingModel.Tenant>, HostingModel.Tenant> tenantService;

@{
    if (tenantService != null)
    {
        var registrantsQuery = await tenantService.Query();
        var waitingRequests = registrantsQuery
            .Where(w => w.IsPublished == false && w.IsSoftDeleted == false)
            .Take(5)
            .ToList();

        var validRequests = waitingRequests.Where(w => w.Owners.Count() > 0 && w.TenantInfos.Count() > 0).ToList();
        var invalidRequests = waitingRequests.Where(w => (w.Owners.Count() == 0) || (w.TenantInfos.Count() == 0)).ToList();

        int i = 0;

        <div>
            <span>Valid Requests</span>
            <table>
                @foreach (var item in validRequests)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(d => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.TenantInfos.FirstOrDefault().Identifier)
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="TenantRegistration" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <hr/>
        <div>
            <span>Invalid Requests</span>
            <table>
                @foreach (var item in invalidRequests)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(d => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(d => item.CreatedAt)
                        </td>

                        <td>
                            <a asp-area="Admin" asp-controller="TenantRegistration" asp-action="Delete" asp-route-id="@item.Id">Reject</a>
                        </td>
                    </tr>

                }
            </table>
        </div>

    }
}